.item-card {
    width: 300px;
    min-height: 400px;
    background-color: #fff;
    margin: auto;
}

.item-card:hover {
    box-shadow: 0 3px 15px 1px rgba(0, 0, 0, 0.3);
}

.item-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.item-name {
    font-size: 1.2rem;
}

.item-price {
    margin: 5px 0;
    font-weight: bold;
}

.mas-info {
    font-size: 1rem;
    padding: 3px;
    border: none;
    background-color: black;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: center;
}

.item-add:hover {
    color: black;
    background-color: #fff;
}

.categoria {
    color: gray;
    padding: 5px 0;
}