*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

html {
  font-size: 18px;
}

body {
  background-color: #f5f6f7;
  font-family: Roboto, sans-serif;
}

.App {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  position: relative;
  border: 1px solid transparent;
}

main {
  width: 100%;
  margin: 100px auto 100px auto;
  position: relative;
}